<form #forgotPasswordForm="ngForm" class="container pt-3">
    <div class="container">
        <div class="row">
            <div class="col mx-auto mt-2" style="max-width: 24rem;">
                <div class="nf-message-container nf-message-warn" [hidden]="true">
                    <div class="nf-message-icon">
                        <i class="fas fa-exclamation-triangle mr-2"></i>
                    </div>
                    <div class="nf-message-contents">
                    <span>
                        El usuario con email arturh.sw@gmail.com ya existe
                    </span>
                    </div>
                </div>
                <div class="text-left mb-5">
                    <h2>Olvidé mi contraseña</h2>
                    <h5>Introduce tu correo electrónico:</h5>
                </div>
                <!-- Email -->
                <div class="form-group">
                    <label for="email" class="form-label">Correo electrónico:
                        <span *ngIf="email.invalid" class="form-required">*</span>
                    </label>
                    <input required pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$"
                           minlength="5" maxlength="50"
                           id="email" name="email"
                           type="email" class="form-control"
                           #email="ngModel"
                           [class.is-invalid]="email.errors && (email.dirty || email.touched)"
                           [(ngModel)]="userEmail">
                    <div class="invalid-feedback"
                         *ngIf="email.errors && (email.dirty || email.touched)">
                        <div *ngIf="email.errors.required">
                            El correo electrónico es requerido
                        </div>
                        <div *ngIf="email.errors?.pattern">
                            Por favor introduce un correo electrónico válido
                        </div>
                        <div *ngIf="email.errors.minlength">
                            El email debe contener entre 5 y 50 caracteres
                        </div>
                    </div>
                </div>
                <div class="text-center mt-6 mb-4">
                    <button class="btn btn-dark btn-block"
                            [disabled]="!forgotPasswordForm.valid"
                            (click)="submit()">
                        Solicitar recuperación
                    </button>
                </div>
                <div class="text-left">
                    <p class="text-muted">
                        Le enviaremos un correo electrónico con
                        un formulario de reestablecimiento de contraseña.
                    </p>
                </div>
            </div>
        </div>
    </div>
</form>

<ngx-spinner name="forgotPasswordSpinner" [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
    <p style="font-size: 20px; color: white">{{spinnerText}}</p>
</ngx-spinner>
