
<form class="card needs-validation" [formGroup]="loginForm" (ngSubmit)="submit()">
    <div class="card-body p-6">
        <div class="card-title">
            <div class="text-center">
                <h2>Iniciar sesión</h2>
            </div>
        </div>
        <div class="form-group">
            <label for="username" class="form-label">Email:</label>
            <input type="email" class="form-control" aria-describedby="emailHelp" required
                   id="username" name="username" placeholder="Enter email"
                   formControlName="username" [ngClass]="{ 'is-invalid': submitted && form.username.errors }">
            <div *ngIf="submitted && form.username.errors" class="invalid-feedback">
                <div *ngIf="form.username.errors.required">Username is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="form-label">
                Contraseña
                <a [routerLink]="['/forgot-password']" class="float-right small">Olvidé mi contraseña</a>
            </label>
            <input type="password" class="form-control" required
                   id="password" name="password" placeholder="Password" formControlName="password"
                   [ngClass]="{ 'is-invalid': submitted && form.password.errors }"  />
            <div *ngIf="submitted && form.password.errors" class="invalid-feedback">
                <div *ngIf="form.password.errors.required">Password is required</div>
            </div>
        </div>
        <div class="form-group">
            <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input"/>
                <span class="custom-control-label">Mantener sesión iniciada</span>
            </label>
        </div>
        <div class="form-footer pb-2">
            <button class="btn btn-dark btn-block text-capitalize"
                    [disabled]="loading">
                ENTRAR
            </button>
        </div>
        <div *ngIf="error" class="alert alert-warning">
            Usuario o contraseña incorrectos
        </div>
    </div>
</form>
<div class="text-center text-muted">
    No tienes cuenta aún? <a href="./register.html">Regístrate</a>
</div>
