<div class="container mt-4">
    <div class="col-lg-6 col-md-12">
        <h2 class="mb-3">Usuarios</h2>
        <div class="card">
            <div style="position: absolute; top: 0; right: -1px;">
                <button (click)="reload()" class="btn btn-primary btn-sm">
                    <i class="fas fa-refresh"></i>
                </button>
            </div>
            <div class="card-status bg-blue"></div>
            <div class="table-responsive mb-0">
                <table style="width: 100%; table-layout: fixed;" datatable
                       [dtOptions]="userOpts"
                       [dtTrigger]="usersTableTrigger"
                       class="table card-table table-hover table-outline table-vcenter text-nowrap datatable">
                    <thead>
                    <tr>
                        <th class="text-left" style="width: 55px;">
                            Email
                        </th>
                        <th class="text-center" style="width: 25px;">
                            Detalles
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr [hidden]="userLicenseList?.length > 0">
                        <td colspan="5">
                            Agregue usuarios, asignando licencias.
                        </td>
                    </tr>
                    <tr *ngFor="let userLicense of userLicenseList">
                        <td style="overflow: hidden; text-overflow:ellipsis; width: 55px;">
                            <div>
                                <strong *ngIf="userLicense.user.enabled; else disabledUserBlock;">
                                    {{ userLicense.user.fullName }}
                                </strong>
                                <ng-template #disabledUserBlock>
                                    <strong>
                                        Sin confirmar aún
                                    </strong>
                                </ng-template>
                            </div>
                            <span>{{ userLicense.user.email }}</span>
                            <div *ngIf="userLicense.license; else noLicenseListBlock;">
                                <i class="fas fa-id-badge"></i>
                                <strong class="small ml-1">
                                    {{ userLicense.license?.licenseProductInfo.name }} -
                                </strong> {{ userLicense.license?.expiration | date: 'dd/MM/yyyy' }}
                            </div>
                            <ng-template #noLicenseListBlock>
                                <div>
                                    <i class="fas fa-id-badge" style="opacity: 0.5;"></i>
                                    <strong class="small ml-1">
                                        SIN LICENCIA
                                    </strong>
                                </div>
                            </ng-template>
                        </td>
                        <td style="width: 25px;" class="text-center">
                            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                                <button (click)="showUserDetails(userLicense)" class="btn btn-outline-primary mr-1 mb-1 btn-sm">
                                    Detalles
                                </button>
                                <div *ngIf="userLicense.license; else assignLicenseButtonBlock">
                                    <button class="btn btn-outline-danger btn-sm user-license-btn-action"
                                            (click)="showLicenseUnassign(userLicense)">
                                        Desasignar
                                    </button>
                                </div>
                                <ng-template #assignLicenseButtonBlock>
                                    <button class="btn btn-outline-info btn-sm user-license-btn-action"
                                            (click)="showUserLicenseAssignment(userLicense)">
                                        Asignar
                                    </button>
                                </ng-template>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12">
        <h2 class="mb-3">Licencias disponibles</h2>
        <div class="card">
            <div class="card-status bg-blue"></div>
            <div class="card-header pl-2">
                <strong>Total: &nbsp;</strong> {{ licensesCount }} {{ licensesCount == 1 ? ' Licencia' : ' Licencias' }}
                <div class="card-options">
                    <a [class.disabled]="order.orderDetails.length == 0 ? true: null"
                       [routerLink]="" (click)="shoppingCart(false)" class="btn btn-google btn-sm mr-1">
                        <i class="fas fa-shopping-cart"></i>
                        Carrito
                    </a>
                    <a [routerLink]="" (click)="showLicenseProducts()" class="btn btn-primary btn-sm">Comprar</a>
                </div>
            </div>
            <div class="table-responsive mb-0">
                <table style="width: 100%;"
                       class="table card-table table-borderless table-hover table-outline table-vcenter text-nowrap">
                    <thead>
                    <tr>
                        <th class="text-left">Licencia</th>
                        <th class="text-center">Detalle</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr [hidden]="licensesList?.length > 0">
                        <td colspan="5">
                            Agregue nuevas licencias.
                        </td>
                    </tr>
                    <tr *ngFor="let license of licensesList">
                        <td>
                            <div class="mt-3"><strong>{{ license.quantity }} {{ license.licenseProductInfo.name }}</strong></div>
                            <div class="small text-muted">
                                {{ license.expiration | date: 'dd/MM/yyyy' }}
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                                <button class="btn btn-outline-primary btn-sm mr-1 mb-1 license-btn-action"
                                        (click)="showLicenseAssignment(license)">
                                    Asignar
                                </button>
                                <button class="btn btn-outline-danger btn-sm license-btn-action"
                                        (click)="showLicenseCancellation(license)">
                                    Cancelar
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<ng-template #shoppingCartModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            Carrito de compra
        </h4>
    </div>
    <div class="modal-body">
        <div class="card m-0">
            <div class="card-header pl-2">
                <strong style="font-size: 1.2rem;">Su orden:</strong>
                <div class="card-options">
                    <button (click)="clearOrder(true)" class="btn btn-secondary btn-sm mr-1">
                        <i class="fas fa-eraser"></i>
                        Limpiar
                    </button>
                    <button (click)="showLicenseProducts()" class="btn btn-primary btn-sm">
                        <i class="fas fa-plus-circle"></i>
                        Agregar
                    </button>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
                        <thead>
                        <tr>
                            <th>Plan</th>
                            <th class="text-center">Cantidad</th>
                            <th class="text-right">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr [hidden]="order.orderDetails.length > 0">
                            <td colspan="5">
                                Agregue licencias a su orden...
                            </td>
                        </tr>
                        <tr *ngFor="let orderDetail of order.orderDetails" >
                            <td>
                                <strong>{{ orderDetail.licenseProduct.name }}</strong>
                            </td>
                            <td class="text-center">
                                <div class="input-group" style="text-align:center;justify-content:center;">
                                    <span class="input-group-prepend">
                                        <button class="btn btn-primary btn-sm" type="button"
                                                style="width: 0; height: 25px; padding: 2px;"
                                                (click)="changeLicenseOrderCount(orderDetail, false)">
                                            -
                                        </button>
                                    </span>
                                    <input type="number" class="" min="1" max="100" disabled
                                           style="width: 35px; height: 25px; text-align: center;"
                                           [(ngModel)]="orderDetail.quantity">
                                    <span class="input-group-append">
                                        <button class="btn btn-primary btn-sm" type="button"
                                                style="width: 0; height: 25px; padding: 2px;"
                                                [disabled]="orderDetail.quantity == 100"
                                                (click)="changeLicenseOrderCount(orderDetail, true)">
                                            +
                                        </button>
                                    </span>
                                </div>
                            </td>
                            <td class="text-right" style="max-width: 20px;">
                                <span>{{orderDetail.subtotal | currency}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="text-right">
                                <strong>TOTAL: </strong>
                            </td>
                            <td class="text-right" style="max-width: 22px;">
                                <strong>{{order.total | currency}}</strong>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="submitOrder()">Confirmar compra</button>
        <button type="button" class="btn btn-gray" (click)="shoppingCart(true)">Cerrar</button>
    </div>
</ng-template>

<ng-template #licenseAssignmentModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title-1">
            Asignar licencia
        </h4>
    </div>
    <div class="modal-body">
        <div class="card m-0">
            <div class="card-header pl-2">
                <div *ngIf="!noLicenses;">
                    <strong style="font-size: 1.1rem;" *ngIf="currentLicense != null; else noCurrentLicenseBlock">
                        Licencia: <span class="text-primary">{{ currentLicense?.licenseProductInfo.name }}</span>
                        - {{ currentLicense?.expiration | date: 'dd/MM/yyyy' }}
                    </strong>
                    <ng-template #noCurrentLicenseBlock>
                        <strong style="font-size: 1.1rem;">
                            Licencia: <span class="text-danger">Seleccione un plan</span>
                        </strong>
                    </ng-template>
                </div>
                <strong style="font-size: 1.1rem;" *ngIf="noLicenses">
                    No cuenta con licencias adicionales
                </strong>
                <div class="card-options">
                </div>
            </div>
            <div class="card-body p-2">
                <h5 class="text-danger" *ngIf="noLicenses">
                    En el panel de licencias adicionales puede adquirirlas.
                </h5>
                <form #licenseAssignmentForm="ngForm">
                    <div class="form-group">
                        <label for="email" class="form-label">Correo electrónico:
                            <span *ngIf="email.invalid" class="form-required">*</span>
                        </label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-user" style="min-width: 20px;"></i>
                            </span>
                            </div>
                            <input required pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$"
                                   minlength="4" maxlength="50"
                                   id="email" name="email"
                                   type="email" class="form-control"
                                   placeholder="Introducir correo electrónico"
                                   #email="ngModel"
                                   [disabled]="currentUserLicense || noLicenses"
                                   [class.is-invalid]="email.errors"
                                   [(ngModel)]="licenseAssignmentRequest.email">
                            <div class="invalid-feedback"
                                 *ngIf="email.errors">
                                <div *ngIf="email.errors.minlength">
                                    El email debe tener entre 5 y 50 caracteres
                                </div>
                                <div *ngIf="email.errors.required">
                                    El email es requerido
                                </div>
                                <div *ngIf="email.errors?.pattern">
                                    El email no es válido
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" *ngIf="currentUserLicense">
                        <label class="form-label">Plan: </label>
                        <select class="form-control custom-select"
                                name="plan" #plan
                                [disabled]="noLicenses"
                                [(ngModel)]="licenseAssignmentRequest.licenseId"
                                (change)="changeCurrentLicense(plan.value)">
                            <option *ngFor="let license of licensesList"
                                    [value]="license.id">
                                {{ license.licenseProductInfo.name }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Rol: </label>
                        <select class="form-control custom-select"
                                name="roleId" #roleId
                                [disabled]="noLicenses"
                                [(ngModel)]="licenseAssignmentRequest.roleId">
                            <option *ngFor="let role of roles"
                                    [value]="role.id">
                                {{ role.description }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Mensaje de bienvenida: <span class="text-gray">(Opcional)</span></label>
                        <textarea class="form-control" rows="5"
                                  name="message"
                                  [disabled]="noLicenses"
                                  placeholder="Escribe tu mensaje."
                                  [(ngModel)]="licenseAssignmentRequest.message">
                        </textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button"
                class="btn btn-primary"
                (click)="assignLicense()"
                [disabled]="licenseAssignmentForm.invalid ||
                            licenseAssignmentRequest.licenseId == null">
            Finalizar asignación
        </button>
        <button type="button"
                class="btn btn-gray"
                (click)="cancelLicenseAssignment()">
            Cancelar
        </button>
    </div>
</ng-template>

<ng-template #licenseUnassignModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Desasignar licencia</h4>
    </div>
    <div class="modal-body">
        <p><strong>Está seguro de desasignar la licencia al usuario <span class="text-primary">{{ currentUserLicense.user.email }}</span>?</strong></p>
        <p>
            <span class="text-primary"><strong>Podrá asignar y desasignar la licencia al usuario en cualquier momento.</strong></span>
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="unassignLicense()">Desasignar</button>
        <button type="button" class="btn btn-gray" (click)="modal.close('Ok click')">Cancelar</button>
    </div>
</ng-template>

<ng-template #userDetailsModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title-1">Información del usuario</h4>
    </div>
    <div class="modal-body">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="h5">Nombre completo:</div>
                        <div *ngIf="currentUserLicense.user.fullName; else noNameBlock">
                            <p>{{ currentUserLicense.user.fullName }}</p>
                        </div>
                        <ng-template #noNameBlock>
                            <p>Sin confirmar aún</p>
                        </ng-template>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="h5">Rol:</div>
                        <p>{{ currentUserLicense.user.mainRole.description || 'Usuario ordinario' }}</p>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="h5">Correo electrónico:</div>
                        <p>
                            <a [href]="'mailto:' + currentUserLicense.user.email">
                                {{ currentUserLicense.user.email }}
                            </a>
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="h5">Celular:</div>
                        <div *ngIf="currentUserLicense.user.phone; else noPhoneBlock;">
                            <i [className]="'mr-1 flag flag-' + currentUserLicense.user.phoneRegion?.toLowerCase()"></i>
                            <span class="ml-1"><strong>{{ currentUserLicense.user.phone }}</strong></span>
                        </div>
                        <ng-template #noPhoneBlock>
                            <i class="mr-1 flag bg-gray-lighter"></i>
                            <span class="ml-1"><strong>Sin asignar</strong></span>
                        </ng-template>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="h5">Miembro desde:</div>
                        <p>{{ currentUserLicense.user.memberSince || '02/02/2020' | date: 'dd/MM/yyyy' }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-gray" (click)="modal.close('Ok click')">Cerrar</button>
    </div>
</ng-template>

<ng-template #licenseCancellationModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title-2">
            Cancelación de licencias
        </h4>
    </div>
    <div class="modal-body">
        <div class="card m-0">
            <div class="card-header pl-2">
                <strong>Especifique la cantidad a cancelar:</strong>
                <div class="card-options"></div>
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
                        <thead>
                        <tr>
                            <th>Plan</th>
                            <th class="text-center">Cantidad</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr [hidden]="order.orderDetails.length > 0">
                            <td colspan="5">
                                Especifique que desea eliminar
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>{{ currentLicense.licenseProductInfo.name }}</strong>
                            </td>
                            <td class="text-center">
                                <div class="input-group" style="text-align:center;justify-content:center;">
                                    <span class="input-group-prepend">
                                        <button class="btn btn-primary btn-sm" type="button"
                                                style="width: 0; height: 25px; padding: 2px;"
                                                (click)="changeLicenseCancellationQuantity(false)">
                                            -
                                        </button>
                                    </span>
                                    <input type="number" class="" min="1" max="100" disabled
                                           style="width: 35px; height: 25px; text-align: center;"
                                           [(ngModel)]="licenseCancellationRequest.quantity">
                                    <span class="input-group-append">
                                        <button class="btn btn-primary btn-sm" type="button"
                                                style="width: 0; height: 25px; padding: 2px;"
                                                [disabled]="licenseCancellationRequest.quantity == currentLicense.quantity"
                                                (click)="changeLicenseCancellationQuantity(true)">
                                            +
                                        </button>
                                    </span>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
                (click)="cancelLicenses()">
            Confirmar cancelación
        </button>
        <button type="button" class="btn btn-gray"
                (click)="cancelLicenseCancellation()">
            Cerrar
        </button>
    </div>
</ng-template>

<ngx-spinner name="userManagerSpinner" [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
    <p style="font-size: 16px; color: white">{{spinnerText}}</p>
</ngx-spinner>
