<!--<footer class="footer">-->
<!--    <div class="container">-->
<!--        <div class="row align-items-center flex-row">-->
<!--            <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">-->
<!--                Copyright © 2020 <a href="#">Q-Bits Chat</a>. All rights reserved.-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</footer>-->
