.messageContainer {
    text-align: left;
}

.nf-message-warn {
    background: #ffa00a;
}

.nf-message-container {
    display: table;
    width: 100%;
    margin: 10px 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.nf-message-icon {
    display: table-cell;
    vertical-align: middle;
    color: white;
    width: 53px;
}

.nf-message-icon i {
    line-height: 1.5em;
    padding-left: 20px;
    font-size: 1.5em;
}

.nf-message-contents {
    display: table-cell;
    vertical-align: middle;
    padding: 20px 10px;
    color: #ffffff;
    font-size: 1.1em;
}

.glowing-border {
    outline: none;
    border-color: #7494ae;
    box-shadow: 0 0 10px #6da1bd;
}

a.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.7;
}
