<form class="editForm" novalidate>
    <div class="container pt-4">
        <h2>Elige el plan</h2>
        <h5>Elige uno de los niveles</h5>
        <div class="row">
            <div class="col-sm-6 col-lg-3" *ngFor="let licenseProduct of licenseProducts">
                <license-product-item
                    [redirectionUrl]="'/user-licenses-manager'"
                    [licenseProduct]="licenseProduct"
                    [hasFeatures]="licenseProduct.features"
                    [features]="features">
                </license-product-item>
            </div>
        </div>
    </div>
</form>
