<form #changeEmailForm="ngForm" class="container pt-3">
    <div class="container">
        <div class="row">
            <div class="col mx-auto mt-2" style="max-width: 24rem;">
                <div class="nf-message-container nf-message-warn" [hidden]="true">
                    <div class="nf-message-icon">
                        <i class="fas fa-exclamation-triangle mr-2"></i>
                    </div>
                    <div class="nf-message-contents">
                    <span>
                        El usuario con email arturh.sw@gmail.com ya existe
                    </span>
                    </div>
                </div>
                <div class="text-left">
                    <h2>Cambiar email</h2>
                    <h5>Cambia el email de acceso a tu cuenta aquí.</h5>
                </div>
                <div class="text-center mt-6 mb-4">
                    <button class="btn btn-dark btn-block text-capitalize"
                            (click)="submit()">
                        Guardar
                    </button>
                    <button class="btn btn-secondary btn-block text-capitalize"
                            (click)="cancel()">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
