
<form #changePasswordForm="ngForm" class="container pt-3">
    <div class="container">
        <div class="row">
            <div class="col mx-auto mt-2" style="max-width: 24rem;">
                <div class="nf-message-container nf-message-warn" [hidden]="true">
                    <div class="nf-message-icon">
                        <i class="fas fa-exclamation-triangle mr-2"></i>
                    </div>
                    <div class="nf-message-contents">
                    <span>
                        El usuario con email arturh.sw@gmail.com ya existe
                    </span>
                    </div>
                </div>
                <div class="text-left">
                    <h2>Cambia la contraseña</h2>
                    <h5>Reestablece el acceso a tu cuenta aquí.</h5>
                </div>
                
                <!-- Contraseña actual -->
                <div class="form-group mt-6">
                    <label for="currentPassword" class="form-label">
                        Contraseña actual
                        <span *ngIf="currentPassword.invalid" class="form-required">*</span>
                    </label>
                    <div class="input-group">
                        <input required id="currentPassword" name="currentPassword"
                               maxlength="20"
                               autocomplete="new-password"
                               pattern="^.{8,20}$"
                               #currentPassword="ngModel"
                               [class.is-invalid]="currentPassword.errors && (currentPassword.dirty || currentPassword.touched)"
                               [(ngModel)]="changePassword.currentPassword"
                               type="password" class="form-control">
                        <span class="input-group-append">
                        <span class="input-group-text" (click)="showPassword(currentPassword, currentPasswordIcon)">
                            <i #currentPasswordIcon class="fa fa-eye-slash" aria-hidden="true" style="font-size: 0.95em;"></i>
                        </span>
                    </span>
                    </div>
                    <div class="invalid-feedback"
                         *ngIf="currentPassword.errors && (currentPassword.dirty || currentPassword.touched)">
                        <div *ngIf="currentPassword.errors">
                            Password should be between 8 and 20 characters
                        </div>
                    </div>
                </div>
                
                <!-- Contraseña nueva -->
                <div class="form-group mt-6">
                    <label for="password" class="form-label">Contraseña nueva
                        <span *ngIf="newPassword.invalid" class="form-required">*</span>
                    </label>
                    <div class="input-group">
                        <input required id="password" name="password"
                               maxlength="20"
                               autocomplete="new-password"
                               pattern="^.{8,20}$"
                               #newPassword="ngModel"
                               type="password" class="form-control"
                               [(ngModel)]="changePassword.newPassword">
                        <span class="input-group-append">
                            <span class="input-group-text" (click)="showPassword(newPassword, passwordIcon)">
                                <i #passwordIcon class="fa fa-eye-slash" aria-hidden="true" style="font-size: 0.95em;"></i>
                            </span>
                        </span>
                    </div>
                </div>
                
                <!-- Confirmar contraseña nueva -->
                <div class="form-group">
                    <label for="confirmPassword" class="form-label">Confirmar contraseña nueva
                        <span *ngIf="repeatNewPassword.invalid" class="form-required">*</span>
                    </label>
                    <div class="input-group">
                        <input required id="confirmPassword" name="confirmPassword"
                               maxlength="20"
                               autocomplete="new-password"
                               pattern="^.{8,20}$"
                               #repeatNewPassword="ngModel"
                               [class.is-invalid]="(newPassword.value != repeatNewPassword.value) && (repeatNewPassword.dirty || repeatNewPassword.touched)"
                               type="password" class="form-control"
                               [(ngModel)]="changePassword.repeatNewPassword">
                        <span class="input-group-append">
                            <span class="input-group-text" (click)="showPassword(repeatNewPassword, confirmPasswordIcon)">
                                <i #confirmPasswordIcon class="fa fa-eye-slash" aria-hidden="true" style="font-size: 0.95em;"></i>
                            </span>
                        </span>
                        <div class="invalid-feedback" *ngIf="newPassword.value != repeatNewPassword.value">
                            Passwords do not match
                        </div>
                    </div>
                </div>
                
                <div class="text-center mt-6 mb-4">
                    <button class="btn btn-dark btn-block text-capitalize"
                            [class.btn-loading]="loading"
                            [disabled]="!changePasswordForm.valid ||
                                        newPassword.value != repeatNewPassword.value"
                            (click)="submit()">
                        Guardar
                    </button>
                    <button class="btn btn-secondary btn-block text-capitalize"
                            (click)="cancel()">
                        Cancelar
                    </button>
                </div>
            
            </div>
        </div>
    </div>
</form>

<ngx-spinner name="changePasswordConfirmSpinner" [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
    <p style="font-size: 20px; color: white">Espere...</p>
</ngx-spinner>
