<form #restorePasswordForm="ngForm" class="container pt-3">
    <div class="container">
        <div class="row">
            <div class="col mx-auto mt-2" style="max-width: 24rem;">
                <div class="nf-message-container nf-message-warn" [hidden]="true">
                    <div class="nf-message-icon">
                        <i class="fas fa-exclamation-triangle mr-2"></i>
                    </div>
                    <div class="nf-message-contents">
                    <span>
                        El usuario con email arturh.sw@gmail.com ya existe
                    </span>
                    </div>
                </div>
                <div *ngIf="loading" class="text- text-center mt-6 mb-2">
                    <h1 style="font-size: 2rem;">
                        Cargando...
                    </h1>
                    <hr class="mt-0 mb-4">
                    <h4 style="font-size: 1.5rem;">
                        Obteniendo información...
                    </h4>
                </div>
                <div [style.display]="!alreadyRestored ? 'none' : 'block'"
                     class="text- text-center mt-6 mb-2">
                    <div *ngIf="!loading">
                        <h1 style="font-size: 2rem;">
                            <u>Contraseña restablecida</u>
                        </h1>
                        <hr class="mt-0 mb-4">
                        <h4 style="font-size: 1.5rem;">
                            Su contraseña ha sido restablecida anteriormente.
                        </h4>
                    </div>
                </div>
                <div [style.display]="(alreadyRestored || loading) ? 'none' : 'block'">
                    <div class="text-left mb-5">
                        <h2>Restaura tu contraseña</h2>
                        <h5>Introduce tu nueva contraseña:</h5>
                    </div>
                    <div class="form-group">
                        <label for="password" class="form-label">Contraseña
                            <span *ngIf="password.invalid" class="form-required">*</span>
                            <span>
                                <i class="fa fa-question-circle ml-1" aria-hidden="true"
                                   style="opacity: 0.85"
                                   placement="right-top"
                                   ngbTooltip="El password debe de contener al menos 8 caracteres">
                                </i>
                            </span>
                        </label>
                        <div class="input-group">
                            <input required id="password" name="password"
                                   maxlength="20"
                                   pattern="^.{8,20}$"
                                   #password="ngModel"
                                   [class.is-invalid]="password.errors && (password.dirty || password.touched)"
                                   [(ngModel)]="restorePasswordRequest.password"
                                   type="password" class="form-control">
                            <span class="input-group-append">
                        <span class="input-group-text" (click)="showPassword(password, passwordIcon)">
                            <i #passwordIcon class="fa fa-eye-slash" aria-hidden="true" style="font-size: 0.95em;"></i>
                        </span>
                    </span>
                        </div>
                        <div class="invalid-feedback"
                             *ngIf="password.errors && (password.dirty || password.touched)">
                            <div *ngIf="password.errors">
                                El password debe de contener de 8 a 20 caracteres
                            </div>
                        </div>
                    </div>
                    <!-- Repetir contraseña -->
                    <div class="form-group">
                        <label for="password" class="form-label">Repetir contraseña
                            <span *ngIf="password.invalid" class="form-required">*</span>
                        </label>
                        <div class="input-group">
                            <input required id="confirmPassword" name="confirmPassword"
                                   maxlength="20"
                                   pattern="^.{8,20}$"
                                   [disabled]="password.untouched && password.invalid"
                                   #confirmPassword="ngModel"
                                   [class.is-invalid]="(password.value != confirmPassword.value) && (confirmPassword.dirty || confirmPassword.touched)"
                                   type="password" class="form-control"
                                   [(ngModel)]="restorePasswordRequest.confirmPassword">
                            <span class="input-group-append">
                        <span class="input-group-text" (click)="showPassword(confirmPassword, confirmPasswordIcon)">
                            <i #confirmPasswordIcon class="fa fa-eye-slash" aria-hidden="true" style="font-size: 0.95em;"></i>
                        </span>
                    </span>
                            <div class="invalid-feedback" *ngIf="password.value != confirmPassword.value">
                                Las contraseñas no coinciden
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-6 mb-4">
                        <button class="btn btn-dark btn-block"
                                [disabled]="!restorePasswordForm.valid || password.value != confirmPassword.value"
                                (click)="submit()">
                            Resturar contraseña
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<ngx-spinner name="restorePasswordSpinner" [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
    <p style="font-size: 20px; color: white">{{spinnerText}}</p>
</ngx-spinner>
