<div class="header py-4" style="background-color: #1b1c1e;">
    <div class="container">
        <div class="d-flex">
            <a class="header-brand" [routerLink]="['/account']">
                <img [src]="'assets/images/logo.png'" class="header-brand-img" alt="tabler logo">
            </a>
            <div class="d-flex order-lg-2 ml-auto mt-2" [ngClass]="!authenticated ? 'non-authenticated-user' : ''">
                <div class="dropdown d-none d-md-flex">
                    <a class="nav-link icon" data-toggle="dropdown">
                        <i class="fe fe-bell"></i>
                        <span class="nav-unread"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                        <a href="#" class="dropdown-item d-flex">
                            <span class="avatar mr-3 align-self-center" style="background-image: url(https://preview.tabler.io/demo/faces/female/25.jpg)"></span>
                            <div>
                                <strong>Arturo Cordero</strong> se registrado.
                                <div class="small text-muted">10 minutes ago</div>
                            </div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item text-center">Marcar todo como leído</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
                        <span class="avatar" style="background-image: url(https://preview.tabler.io/demo/faces/female/25.jpg)"></span>
                        <span class="ml-2 d-none d-lg-block">
							<span class="text-white">{{authenticatedUser?.name != undefined ?
                                authenticatedUser?.name + ' ' + authenticatedUser.lastName : 'Cargando...'}}
                            </span>
							<small class="text-muted d-block mt-1">Administrator</small>
						</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                        <a class="dropdown-item" [routerLink]="">
                            <i class="dropdown-icon fe fe-user"></i>Mi perfil
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" [routerLink]="" (click)="logOut()">
                            <i class="dropdown-icon fe fe-log-out"></i>Cerrar sesión
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-spinner name="logoutSpinner" [fullScreen]="false" type="timer" size="large">
    <p style="font-size: 20px; color: white">Cerrando sesión...</p>
</ngx-spinner>

