
input[type="password"] {
    font: small-caption;
    font-size: 18px
}

select.country-codes {
    font-family: "Courier New", Courier, monospace;
}

li {
    font-size: 0.9em;
}

.account-link {
    font-weight: bold;
}

.col-result {
    max-width: 32rem;
}

.modal-body {
    background-color: #1b1c1e;
}

.news-app-promo {
    box-sizing: border-box;
    background-color: #1b1c1e;
    padding: 0.5em;
    margin-top: 1em;
}

.news-app-promo__section {
    display: inline-block;
    position: relative;
    width: 100%;
    text-align: center;
    margin: 8px auto 0;
}

.news-app-promo-text {
    color: #f2f2f2;
    font-family: helvetica, serif;
    min-width: 277px;
    padding: 0 1em;
    width: 35%;
    margin: 1em auto;
    display: block;
}

.news-app-promo-text__tagline {
    font-size: 1.09em;
}

.news-app-promo-text__download {
    font-size: 2.25em;
    font-weight: 600;
}

.news-app-promo-buttons {
    margin: 0 auto;
    max-width: 35%;
    display: block;
}

.news-app-promo-buttons__buttons {
    display: block;
}

.news-app-promo-buttons__logo {
    display: inline-block;
}

.news-app-promo-subsection {
    display: inline-block;
    margin: 0 10px 0 auto;
}

.news-app-promo__bbc-logo {
    display: inline-block;
    width: 106px;
    margin-bottom: 8px;
}

.news-app-promo__play-store,
.news-app-promo__app-store {
    display: block;
    width: 161px;
    height: auto;
    margin-bottom: 8px;
}

.news-app-promo-subsection--link {
    text-decoration: none;
    cursor: pointer;
    border: 0;
}
