<div class="container mt-4">
    <div class="col-lg-12">
        <h1 class="mb-3">Información de facturación</h1>
        <p class="mb-1 text-gray">
            <strong style="text-transform: uppercase;">Tu membresía:</strong>
        </p>
        <div class="card">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <p class="text-gray mb-0"><strong>Tu plan:</strong></p>
                        <p><strong>{{license.licenseProductInfo.name}}</strong>
                            por {{license.licenseProductInfo?.calculatedCostStr | currency}}/{{license.duration?.description.toLowerCase()}}</p>
                        <p class="text-gray mb-0"><strong>Próxima factura:</strong></p>
                        <p><strong>{{ license?.describeExpiration }}</strong></p>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <pre [hidden]="true">{{ organization | json }}</pre>
                        <div class="row mb-1">
                            <div class="col-sm-4 pt-1 pr-0">
                                <p class="text-gray mb-0"><strong>Organización:</strong></p>
                            </div>
                            <div class="col-sm-4 pt-1">
                                <button type="button"
                                        class="btn btn-primary btn-sm"
                                        style="width: 80px;"
                                        (click)="oganizationModification()">
                                    {{ modificationButtonName }}
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 pr-0">
                                <p class="mb-0"><span class="text-gray">Nombre: </span></p>
                            </div>
                            <div class="col-sm-6">
                                <strong #organizationName [contentEditable]="updatingOrganizationInfo">
                                    {{organization?.name}}
                                </strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 pr-0">
                                <p class="mb-0"><span class="text-gray">RFC: </span></p>
                            </div>
                            <div class="col-sm-6">
                                <strong #organizationRfc [contentEditable]="updatingOrganizationInfo">{{organization?.rfc}}</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 pr-0">
                                <p class="mb-0"><span class="text-gray">Tipo: </span></p>
                            </div>
                            <div class="col-sm-6">
                                <select class="form-control custom-select organization-type-select"
                                        style="height: 25px;"
                                        [disabled]="!updatingOrganizationInfo">
                                    <option *ngFor="let organizationType of organizationTypes"
                                            style="padding: 0"
                                            [selected]="organizationType.identifier == organization.organizationType.identifier">
                                        {{organizationType.description}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 offset-sm-0 col-md-6 offset-md-6 col-lg-4 offset-lg-0">
                        <div class="row mb-1">
                            <div class="col-sm-4 pt-1 pr-0">
                                <p class="text-gray mb-0" style="opacity: 0">Spacer</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 pr-0">
                                <p class="mb-0"><span class="text-gray">Dirección: </span></p>
                                <strong>{{organization?.addresses[0]?.description()}}</strong>
                            </div>
                            <div class="col-sm-6">
                                <strong [contentEditable]="updatingOrganizationInfo">
                                    {{organization?.addresses[0]?.description() || '10a Oriente Sur #185, Tuxtla Gutiérrez, Chiapas, 29010'}}
                                </strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-status bg-gray"></div>
            <div class="table-responsive">
                <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
                    <thead>
                    <tr>
                        <th class="text-center">Fecha</th>
                        <th class="text-center">Descripcion</th>
                        <th class="text-center">Detalles</th>
                        <th class="text-center">Periodo</th>
                        <th>Forma de pago</th>
                        <th class="text-center">Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr [hidden]="productOrders?.length > 0">
                        <td colspan="5">
                            Cargando órdenes...
                        </td>
                    </tr>
                    <tr *ngFor="let productOrder of productOrders">
                        <td class="text-center">
                            <strong class="text-dark">
                                {{ productOrder.createdAt | date: 'dd/MM/yyyy' }}
                            </strong>
                        </td>
                        <td class="text-left">
                            <div *ngIf="productOrder.type.name == 'CreateOrganization'">
                                Compra de licencia: <strong>{{ productOrder.firstDetail.licenseProduct.name }}</strong>
                            </div>
                            <div *ngIf="productOrder.type.name == 'AddingLicenses'">
                                <div *ngIf="productOrder.firstDetail.quantity > 1; else addingLicensesUnique">
                                    Pago de licencias adicionales: <strong> {{ productOrder.firstDetail.quantity }} licencias</strong>
                                </div>
                                <ng-template #addingLicensesUnique>
                                    Pago de licencia adicional: <strong>{{ productOrder.firstDetail.licenseProduct.name }}</strong>
                                </ng-template>
                            </div>
                            <div *ngIf="productOrder.type.name == 'UpdateLicense'">
                                Actualización de licencia: <strong>{{ productOrder.firstDetail.licenseProduct.name }}</strong>
                            </div>
                            <div *ngIf="productOrder.type.name == 'LicenseRenovation'">
                                Renovación de licencia: <strong>{{ productOrder.firstDetail.licenseProduct.name }}</strong>
                            </div>
                        </td>
                        <td class="text-center">
                            <button class="btn btn-secondary btn-sm">Detalles</button>
                        </td>
                        <td class="text-center">
                            {{ productOrder.firstDetail.periodStartDate | date: 'dd/MM/yyyy' }} -
                            {{ productOrder.firstDetail.periodEndDate | date: 'dd/MM/yyyy' }}
                            {{ productOrder.firstDetail.quantity > 1 ? '...' : '' }}
                        </td>
                        <td>
                            <i class="payment glowing-border" [ngClass]="productOrder?.paymentMethod.icon != null ? productOrder?.paymentMethod?.icon : 'payment-visa'"></i>
                            <span class="ml-1">•••• •••• •••• <strong>{{productOrder?.paymentMethod.lastDigits}}</strong></span>
                        </td>
                        <td class="text-left">
                            {{ productOrder.total | currency }}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <p class="text-gray">Nota: Solo se muestra el último año del historial de facturación</p>
    </div>
</div>
<ngx-spinner name="billingInformationSpinner" [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
    <p style="font-size: 20px; color: white">Espere...</p>
</ngx-spinner>
