<div class="container mt-4">
    <div class="col-lg-10 offset-lg-1 col-sm-12 offset-sm-0">
        <h2 class="mt-1 mb-5">
            Métodos de pago
        </h2>
        <p class="mb-1 text-gray">
            <strong style="text-transform: uppercase;">
                Tus métodos de pago actuales:
            </strong>
        </p>
        <div class="card">
            <div class="card-body p-3">
                <div class="text-left">
                    <p class="text-gray">Método de pago actual:</p>
                    <i class="payment glowing-border"
                       [ngClass]="defaultPaymentMethod?.icon != null ? defaultPaymentMethod?.icon : 'payment-visa'">
                    </i>
                    <span class="ml-1">•••• •••• •••• <strong>{{defaultPaymentMethod?.lastDigits}}</strong></span>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Métodos de pago</h3>
                <div class="card-options">
                    <button type="submit"
                            [disabled]="paymentMethods?.length >= 2"
                            (click)="addPaymentMethod()"
                            class="btn btn-dark">
                        Agregar
                    </button>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
                    <thead>
                    <tr>
                        <th>Default</th>
                        <th class="text-left">Marca</th>
                        <th>Tarjeta</th>
                        <th>Mod.</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr [hidden]="paymentMethods?.length > 0">
                        <td colspan="4">
                            Cargando métodos de pago...
                        </td>
                    </tr>
                    <tr *ngFor="let paymentMethod of paymentMethods">
                        <td>
                            <button (click)="setDefaultPaymentMethod(paymentMethod)"
                                    [disabled]="paymentMethod.defaultPayment"
                                    [ngClass]="paymentMethod.defaultPayment ? 'btn-dark' : 'btn-outline-secondary'"
                                    class="btn btn-sm">
                                Default
                            </button>
                        </td>
                        <td class="text-left">
                            <i class="payment glowing-border"
                               [ngClass]="paymentMethod?.icon != null ? paymentMethod?.icon : 'payment-visa'">
                            </i>
                        </td>
                        <td>
                            <span class="ml-1">{{isMobile ? '•••• ' : '•••• •••• •••• '}} <strong>{{paymentMethod?.lastDigits}}</strong></span>
                        </td>
                        <td class="w-1 text-center">
                            <a class="icon mr-3"
                               [ngClass]="paymentMethods?.length <= 1 ? 'not-active' : ''"
                               (click)="deletePaymentMethod(paymentMethod)">
                                <i class="fe fe-trash"></i>
                            </a>
                            <a class="icon" (click)="editPaymentMethod(paymentMethod)">
                                <i class="fe fe-edit"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

