<div class="container mt-4">
    <div class="col-lg-6 col-md-12">
        <h2 class="mt-1 mb-5">
            Invitaciones de compra
        </h2>
        <div class="card" style="min-height: 243px;">
            <div style="position: absolute; bottom: 8px; left: 12px;">
                <button (click)="reload()" class="btn btn-secondary">
                    <i class="fas fa-refresh"></i>
                </button>
            </div>
            <div class="card-status bg-primary"></div>
            <div class="card-header pl-2 pr-4">
                <h3 class="card-title"
                    style="font-size: 1.0rem">
                    Invitaciones por email
                </h3>
                <div class="card-options">
                    <button type="submit"
                        class="btn btn-outline-primary"
                        (click)="openCreateSaleInvitation()">
                        Crear invitación
                    </button>
                </div>
            </div>
            <div class="table-responsive mb-0">
                <table style="width: 100%; table-layout: fixed;" datatable
                       [dtOptions]="invitationsOpts"
                       [dtTrigger]="invitationsTableTrigger"
                       class="table card-table table-hover table-outline table-vcenter text-nowrap datatable">
                    <thead>
                    <tr>
                        <th class="text-left" style="width: 55px;">
                            Invitación
                        </th>
                        <th class="text-center" style="width: 25px;">
                            Cancelar
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr [hidden]="saleInvitations?.length > 0">
                        <td colspan="2">
                            Agregue usuarios, asignando licencias.
                        </td>
                    </tr>
                    <tr *ngFor="let saleInvitation of saleInvitations">
                        <td style="overflow: hidden; text-overflow:ellipsis; width: 55px;">
                            <div>
                                <strong>
                                    {{ saleInvitation.email }}
                                </strong>
                            </div>
                            <div>
                                <i class="fas fa-id-badge"></i>
                                <strong class="small ml-1">
                                    {{ saleInvitation.licenseProduct.name }}
                                </strong>
                            </div>
                            <div>
                                <i [ngClass]="saleInvitation.status.icon"></i>
                                <strong class="small ml-1">
                                    {{ saleInvitation.status.description }}
                                </strong>
                            </div>
                        </td>
                        <td class="text-center">
                            <div *ngIf="saleInvitation.status.name == 'Used' else elseBlock;">
                                <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                                    <button class="btn btn-outline-dark mr-1 mb-1 btn-sm sale-invitation-btn-action"
                                            (click)="showOrderInvitationDetail(saleInvitation)">
                                        Detalles
                                    </button>
                                    <button class="btn btn-outline-primary mr-1 mb-1 btn-sm sale-invitation-btn-action"
                                            (click)="sendQRCode(saleInvitation)">
                                        Enviar QR
                                    </button>
                                </div>
                            </div>
                            <ng-template #elseBlock>
                                <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                                    <button class="btn btn-outline-info mr-1 mb-1 btn-sm sale-invitation-btn-action"
                                            (click)="forwardSaleInvitation(saleInvitation)">
                                        Reenviar
                                    </button>
                                    <button class="btn btn-outline-danger btn-sm sale-invitation-btn-action"
                                            (click)="cancelSaleInvitation(saleInvitation)">
                                        Cancelar
                                    </button>
                                </div>
                            </ng-template>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12">
        <h2 class="mt-1 mb-5">
            Promocionar
        </h2>
        <div class="card">
            <div class="card-status bg-primary"></div>
            <div class="card-header pl-2 pr-4">
                <h3 class="card-title"
                    style="font-size: 1.0rem">
                    Material de venta
                </h3>
                <div class="card-options">
                    <button type="submit"
                            class="btn btn-outline-primary"
                            (click)="openCreateSaleInvitation()">
                        Crear invitación
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #saleInvitationFormModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title-1">
            Crear invitación de compra
        </h4>
    </div>
    <div class="modal-body">
        <div class="card m-0">
            <div class="card-body p-2">
                <form #saleInvitationForm="ngForm">
                    <div class="form-group">
                        <label for="email" class="form-label">Correo electrónico:
                            <span *ngIf="email.invalid" class="form-required">*</span>
                        </label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-user" style="min-width: 20px;"></i>
                            </span>
                            </div>
                            <input required pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$"
                                   minlength="4" maxlength="50"
                                   id="email" name="email"
                                   type="email" class="form-control"
                                   placeholder="Introducir correo electrónico"
                                   #email="ngModel"
                                   [class.is-invalid]="email.errors"
                                   [(ngModel)]="saleInvitation.email">
                            <div class="invalid-feedback"
                                 *ngIf="email.errors">
                                <div *ngIf="email.errors.minlength">
                                    El email debe tener entre 5 y 50 caracteres
                                </div>
                                <div *ngIf="email.errors.required">
                                    El email es requerido
                                </div>
                                <div *ngIf="email.errors?.pattern">
                                    El email no es válido
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Plan: </label>
                        <select class="form-control custom-select"
                                name="licenseProduct" #licenseProduct
                                [(ngModel)]="saleInvitation.licenseProductId">
                            <option *ngFor="let licenseProduct of licenseProducts"
                                    [ngValue]="licenseProduct.id">
                                {{ licenseProduct.name }}
                            </option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button"
                class="btn btn-primary"
                (click)="createSaleInvitation()"
                [disabled]="saleInvitationForm.invalid">
            Enviar invitación
        </button>
        <button type="button"
                class="btn btn-gray"
                (click)="closeCreateSaleInvitation()">
            Cancelar
        </button>
    </div>
</ng-template>

<ng-template #saleInvitationOrderModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title-1">Información de compra</h4>
    </div>
    <div class="modal-body">
        <div class="card">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-sm-12 col-md-6 mb-1">
                        <div class="h4"><strong>Fecha de compra:</strong></div>
                        <p class="h5">{{ orderDetailInvitation.createdAt | date: 'dd/MM/yyyy' }}</p>
                    </div>
                    <div class="col-sm-12 col-md-6 mb-1">
                        <div class="h4"><strong>Producto:</strong></div>
                        <p class="h5">{{orderDetailInvitation.licenseProduct.name}}</p>
                    </div>
                    <div class="col-sm-12 col-md-6 mb-1">
                        <div class="h4"><strong>Costo:</strong></div>
                        <p class="h5">
                            {{ orderDetailInvitation.subtotal | currency }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-gray" (click)="modal.close('Ok click')">Cerrar</button>
    </div>
</ng-template>

<ngx-spinner name="saleInvitationsSpinner" [fullScreen]="true" type="ball-clip-rotate-multiple" size="medium">
    <p style="font-size: 16px; color: white">{{spinnerText}}</p>
</ngx-spinner>
